$deep-purple-lighten-0: #D1C4E9;
$deep-purple-lighten-2: #9575CD;
$deep-purple-lighten-4: #D1C4E9;
$deep-purple-lighten-5: #EDE7F6;
$deep-purple-darken-3: #673AB7;
$deep-purple-darken-4: #311B92;
$deep-purple-darken-5: #241371;
$grey-lighten-1: #BDBDBD;
$grey-lighten-2: #E0E0E0;
$grey-lighten-3: #EEEEEE;
$grey-lighten-4: #F5F5F5;
$grey-darken-1: #7b7a7a;
$grey-darken-4: #212121;
